{% extends "public/layout.html" %}
{% block page_title %} Month Output for {{ current }} {% endblock %}
{% block content %}
<div class="lg-12">
	{% if error %}
	<div class="bg-danger">
		<span class="text-danger"><strong>Error:</strong> {{ error }} </span>
	</div>
	{% endif %}
	<h1 class="page-header">Year Power Production</h1>
	<div class="panel panel-default">
				<div class="panel-heading">
					<button class="btn btn-default"  id="datepicker"> Solar Data for all years</button>
				</div>
		<div class="panel-body">
			<div id="chart"></div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ javascript_tag('total_chart') | safe }}

<script type="text/javascript">
	$('#chartNav').addClass('collapse in');
	$('#total').addClass("active");
	var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	var data = {{data|tojson}};
	var curDate = new Date("{{current}}");

</script>
{% endblock %}