{% extends "admin/adminlayout.html" %}
{% block page_title %} {{ _(Settings) }} {% endblock %}
{% block content %}
<div class="col-md-12">
	<div class="row">
		<h1 class="page-header">{{ _('Password Settings') }}</h1>
		<div class="panel panel-default">
			<div class="panel-heading">{{ _('Password Configuration') }}</div>
			<div class="panel-body">
				<form id="passwordForm" data-bind="submit: save" class="form-horizontal">
					<div class="form-group" data-bind="validationElement: oldPassword">
						<label for="oldPassword" class="col-sm-2 control-label">{{ _('Old Password') }}</label>
						<div class="col-sm-10">
							<input data-bind="value: oldPassword" type="password" class="form-control" id="oldPassword">
						</div>
					</div>
					<div class="form-group" data-bind="validationElement: newPassword1">
						<label for="newPassword1" class="col-sm-2 control-label">{{ _('New Password') }}</label>
						<div class="col-sm-10">
							<input data-bind="value: newPassword1" type="text" class="form-control" id="newPassword1">
						</div>
					</div>
					<div class="form-group" data-bind="validationElement: newPassword2">
						<label for="newPassword2" class="col-sm-2 control-label">{{ _('Confirm Password') }}</label>
						<div class="col-sm-10">
							<input data-bind="value: newPassword2" type="text" class="form-control" id="newPassword2">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">{{ _('Submit') }}</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ javascript_tag('passwordsettings') | safe }}
<script>
	var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} + '/admin';
</script>
{% endblock %}