{% extends "admin/adminlayout.html" %}
{% block page_title %} {{ _(Settings) }} {% endblock %}
{% block content %}
<style type="text/css">
.paddError {
	margin-left: 0.5em
}
</style>
<div class="col-md-12">
	<div class="row">
		Datalogger Status:
		<div data-bind="if: isDataloggerRunning()">
			<span data-bind="if: isDataloggerRunning">Running</span>
			<button data-bind="click: stopDatalogger" type="button"
				class="btn btn-default btn-xs" data-toggle="tooltip" title="{{ _('Pause Datalogger') }}">
				<span class="glyphicon glyphicon-pause"></span>
			</button>
		</div>
		<div data-bind="if: !isDataloggerRunning()">
			<span>Stopped</span>
			<button data-bind="click: startDatalogger" type="button"
				class="btn btn-default btn-xs"  data-toggle="tooltip" title="{{ _('Start Datalogger') }}">
				<span class="glyphicon glyphicon-play"></span>
			</button>
		</div>
	</div>

	<div class="row">
		<h1 class="page-header">{{ _('Plants') }}</h1>
		<div data-bind="foreach: plants">
		<div class="panel panel-default">
			<div class="panel-heading">{{ _('Plant') }}</div>
			<div class="panel-body">
				<div class="col-md-4">
					<dl class="dl-horizontal">
						<dt>{{ _('Id:') }}</dt>
						<dd>
							<span data-bind="text: id"></span>
						</dd>
						<dt>{{ _('Name:') }}</dt>
						<dd>
							<a href="#"
								data-bind="editable: name, editableOptions: {title: '{{ _('Enter plant name') }}' }, saved: saved"></a>
						</dd>
						<dt>{{ _('Connection:') }}</dt>
						<dd>
							<a href="#"
								data-bind="editable: connection, editableOptions: {title: '{{ _('Select connection') }}',
								type:'select', source: $root.connections}, saved: saved"></a>
						</dd>
						<dt>{{ _('Protocol:') }}</dt>
						<dd>
							<a href="#"
								data-bind="editable: protocol, editableOptions: {title: '{{ _('Select protocol') }}',
								type:'select', options: $root.protocols, optionsText: 'text', optionsValue: 'value' }, saved: saved"></a>
						</dd>
						<dt>{{ _('Connection parameter:') }}</dt>
						<dd>
							<a href="#"
								data-bind="editable: connectionParam, editableOptions: {title: '{{ _('Enter connection parameter') }}' }, saved: saved"></a>
						</dd>
						<dt>{{ _('Protocol parameter:') }}</dt>
						<dd>
							<a href="#"
								data-bind="editable: protocolParam, editableOptions: {title: '{{ _('Ender protocol parameter') }}' }, saved: saved"></a>
						</dd>
					</dl>
				</div>
				<div class="col-md-8">
					<h3>{{ _('Inverters') }}</h3>
					<table class="table">
						<thead>
							<tr>
								<th><strong>{{ _('Id') }}</strong></th>
								<th><strong>{{ _('Name') }}</strong></th>
								<th><strong>{{ _('Phases') }}</strong></th>
								<th><strong>{{ _('Tracker') }}</strong></th>
								<th><strong>{{ _('Wattpeak') }}</strong></th>
								<th><strong>{{ _('Active') }}</strong></th>
								<th></th>
							</tr>
						</thead>
						<tbody data-bind="foreach: inverters">
							<tr>
								<td><a href="#"
									data-bind="editable: id, editableOptions: {title: '{{ _('Enter inverert id') }}' }"></a>
								</td>
								<td><a href="#"
									data-bind="editable: name, editableOptions: {title: '{{ _('Enter inverter name') }}' }"></a>
								</td>
								<td><a href="#"
									data-bind="editable: phases, editableOptions: {title: '{{ _('Enter number of phases') }}',
										type:'select', options: $root.phases, optionsText: 'text', optionsValue: 'value' }"></a>
								</td>
								<td><a href="#"
									data-bind="editable: trackers, editableOptions: {title: '{{ _('Enter number of trackers') }}' }"></a>
								</td>
								<td><a href="#"
									data-bind="editable: wattpeak, editableOptions: {title: '{{ _('Enter wattpeak') }}' }">
								</a></td>
								<td><a href="#"
									data-bind="editable: active, editableOptions: {title: '{{ _('Activate or deactivate inverter') }}',
										type:'select', source: $root.activeStates}"></a>
								</td>
								<td>
									<button data-bind="click: $parent.deleteInverter" type="button"
										class="btn btn-danger">
										<i class="fa fa-trash-o"></i> {{_('Delete Inverter')}}
									</button>
								</td>
							</tr>
						</tbody>
					</table>
					<button data-bind="click: addInverter" type="button"
						class="btn btn-primary">Add new Inverter</button>
					<button data-bind="click: scanForInverters" type="button"
						class="scanButton btn btn-primary">Scan for Inverters</button>
				</div>
				<button data-bind="click: save" type="button"
					class="btn btn-primary">{{ _('Save changes') }}</button>
				<button data-bind="click: $parent.deletePlant" type="button"
					class="btn btn-danger">
					<i class="fa fa-trash-o"></i> {{_('Delete Plant')}}
				</button>
			</div>
		</div>
		</div>
		<button data-bind="click: addPlant" type="button" class="btn btn-primary">{{_('Add new Plant')}}</button>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ javascript_tag('plantsettings') | safe }}
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.js"></script> -->
<!-- <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/> -->
<script>
	var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} + '/admin';
	var plants = {{ plants|tojson }};
	var inverters = {{ inverters|tojson }};
	var connections = {{ connections|tojson }};
	var protocols = {{ protocols|tojson }};
	var isDataloggerRunning = {{ isDataloggerRunning|tojson }};
</script>
{% endblock %}