{% extends "public/layout.html" %}
{% block page_title %}{{ _('Overview') }}{% endblock %}
{% block content %}
<h1 class="page-header">{{ _('Overview') }}</h1>
<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ _('Plant Overview') }}
		</div>
		<div class="panel-body">
			<p>
				<b>{{ _('Datalogger Status:') }}</b> <span data-bind="text: dataloggerStatus"></span>
			</p>
			<table class="table table-hover">
				<thead>
					<tr>
						<th> <strong>{{ _('Device') }}</strong> </th>
						<th> <strong>{{ _('Status') }}</strong> </th>
						<th> <strong>{{ _('PAC') }}</strong> </th>
						<th> <strong>{{ _('PDC') }}</strong> </th>
					</tr>
				</thead>
				<tbody data-bind="foreach: invertersData">
					<tr>
						<td data-bind='text: name'> </td>
						<td data-bind='text: status'> </td>
						<td data-bind='text: pac'> </td>
						<td data-bind='text: pdc'> </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="col-lg-8">
	<div class="panel panel-default">
				<div class="panel-heading">
					<span>{{ _('Solar Data for the last 30 days') }}</span>
				</div>
		<div class="panel-body">
			<div id="chart"></div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ javascript_tag('overview') | safe }}

<script>
	var data = {{data|tojson}};
	var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	var inverters = {{ inverters|tojson|safe }};
</script>
{% endblock %}