{% extends "layout.html" %}
{% block page_title %} Month Output for {{ current }} {% endblock %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	{% if error %}
	<div class="bg-danger">
		<span class="text-danger"><strong>Error:</strong> {{ error }} </span>
	</div>
	{% endif %}
	<h1 class="page-header">Year Power Production</h1>
	<div class="panel panel-default">
				<div class="panel-heading">
					<button class="btn btn-default"  id="datepicker"> Solar Data for all years</button>
				</div>
		<div class="panel-body">
			<div id="chart"></div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/totaly-chart.js') }}"></script>
	<script>
		$('#chartNav').addClass('collapse in');
		var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		var data = {{data|tojson}};
		var curDate = new Date("{{current}}");

	</script>
{% endblock %}